//  Define project colours here

:root {
  --color-body            : #ffffff;
  --color-text            : #000000;
  --color-primary         : #008d6f;
  --color-primary--hover  : #007456;

  --color-border          : #eee;
}