$container--large     : 1600px;
$container--medium    : 1232px;
$container--small     : 932px;

:root {
  --space--s    : 8px;
  --space--m    : 16px;
  --space--l    : 32px;
  --space--xl   : 48px;
  --space--xxl  : 80px;

  --container     :   1200px;
  --container--l  :   1600px;
  --container--s  :   900px;
}