:root {
  --box-shadow      :   0 0 18px rgba(0,0,0,0.2);

  --border-color    :   var(--color-border);
  --border-radius   :   5px;
  --border-style    :   solid;
  --border-width    :   1px;

  --transition-duration         : 0.5s;
  --transition-duration--fast   : 0.1s;
  --transition-duration--slow   : 1s;
}