.p-section {

}

.p-section + .p-section {
  border-top: dashed 1px #A2ADB9;
  margin-top: 5rem;
  padding-top: 5rem;
}

.p-section__header {
  background: #f2f4f6;
  margin-bottom: 2rem;
  padding: 1rem 2rem;
}

.p-section__title {
  @include font-size(28);
}

.p-section__body {
  background: white;
}

.p-section__subsection {

  + .p-section__subsection {
    border-top: solid 1px #f2f4f6;
    margin-top: 2rem;
    padding-top: 2rem;
  }
  
}

.p-section__subtitle {
  @include font-size(14);
  margin-bottom: .5rem;
  opacity: .5;
  text-transform: uppercase;
}
