$form-bg-color  : #fff;
$form-border-color : #DCDCDC;
$form-focus-color: #008BFF;
$form-focus-text-color: #000;
$form-placeholder-color: #DCDCDC;
$form-text-color: #000;

$form-border-radius: 2px;
$form-padding: .5rem;
$form-input-height: 50px;

$form-text-size: 16px;
$form-text-weight: normal;