:root {
  // --form-label-color: var(--color-text);
  // --form-label-size: var(--base-font-size);
  // --form-label-weight: var(--base-font-weight);
  // --form-label-margin: var(--space--xs);

  // --form-bg-color:  var(--color-body);
  // --form-border-color: var(--border-color);
  --form-border-radius: 0;
  // --form-border-style: var(--border-style);
  // --form-border-width:  var(--border-width);
  // --form-color: var(--color-text);
  // --form-font-family: var(--base-font-family);
  // --form-font-size: var(--base-font-size);
  // --form-font-weight: var(--base-font-weight);
  // --form-input-height: 4rem;
  // --form-textarea-height: 12rem;
  // --form-h-padding: var(--space--m);
  // --form-placeholder-color: var(--color-border);

  // --form-focus-border-color: var(--color-text);
  // --form-focus-bg-color: var(--form-bg-color);
  // --form-focus-color: var(--form-color);

  --form-select-appearance: none;
  --form-select-carat: url('data:image/svg+xml;base64,PCEtLSBHZW5lcmF0ZWQgYnkgSWNvTW9vbi5pbyAtLT4KPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9Ijc2OCIgaGVpZ2h0PSI3NjgiIHZpZXdCb3g9IjAgMCA3NjggNzY4Ij4KPHRpdGxlPjwvdGl0bGU+CjxnIGlkPSJpY29tb29uLWlnbm9yZSI+CjwvZz4KPHBhdGggZD0iTTUzMSAyNzQuNWw0NSA0NS0xOTIgMTkyLTE5Mi0xOTIgNDUtNDUgMTQ3IDE0N3oiPjwvcGF0aD4KPC9zdmc+Cg==');
}