
  <perch:before>
      <ul class="c-icon-list">
  </perch:before>

    <li class="c-icon-list__item">
        <a href="<perch:pages id="pagePath" />" class="c-icon-list__link">
        <span class="c-icon-list__icon">
          <svg viewBox="0 0 33 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="#000">
            <polygon points="17 0.969 33.031 17 17 33.031 14.187 30.218 25.343 18.968 0.968 18.968 0.968 15.03 25.343 15.03 14.187 3.78"></polygon>
          </svg>
        </span>
        <span class="c-icon-list__label"><perch:pages id="pageNavText" /></span>
      </a>
    </li>

  <perch:after>
    </ul>
  </perch:after>