.c-icon-list {
  @include font(m);
}

  .c-icon-list--row {
    display: flex;
    align-item: center;

     .c-icon-list__item + .c-icon-list__item {
       margin-top: 0;
     }
  }

.c-icon-list__item {
  align-items: center;
  display: flex;

  + .c-icon-list__item {
    margin-top: var(--space--s);
  }
}

  body.home .p-page-header .c-icon-list__item + .c-icon-list__item {
    margin-top: 0;
  }

// optional
.c-icon-list__link {

}

.c-icon-list__icon {
  flex-basis: 32px;
  flex-grow: 0;
  flex-shrink: 0;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

  .c-icon-list__icon--tick {
    fill: var(--color-primary);
  }

.c-icon-list__label {
  margin-left: var(--space--s);
}