<section class="l-hero">
  <div class="l-container l-container--medium">
    <div class="l-hero__inner">
      <div class="l-hero__body">
        <div>
          <div class="c-wysiwyg">
            <h1><perch:content id="title" label="Title" /></h1>
            <perch:content id="intro" label="Intro" type="textarea" size="s" markdown editor="simplemde" />
          </div>
          <perch:template path="/content/common/button.html" />
        </div>
      </div>
    
      <div class="l-hero__image">
        <picture>
          <img src="/assets/img/home.svg" alt="" />
        </picture>
      </div>
    </div>
  </div>
</section>