<perch:content id="name" label="Company Name" type="text" />
<perch:content id="email" label="Email Address" type="text" />
<perch:content id="phone" label="Phone Number" type="text" />
<perch:content id="address_1" label="Address Line 1" type="text" divider-before="Address" />
<perch:content id="address_2" label="Address Line 2" type="text" />
<perch:content id="address_city" label="City" type="text" />
<perch:content id="address_postcode" label="Postcode" type="text" />
<perch:content id="address_country" label="Country" type="text" />

<perch:content id="facebook" label="Facebook" divider-before="Social Media" />
<perch:content id="instagram" label="Instagram" type="text" />
<perch:content id="linkedin" label="LinkedIn" type="text" />
<perch:content id="twitter" label="Twitter" type="text" />
<perch:content id="youtube" label="YouTube" type="text" />