.l-footer {
  margin-top: 160px;
  padding-bottom: 80px;
}

.l-footer__inner {
  display: flex;
  justify-content: space-between;
}

.l-footer__info {
  width: 30%;
}

.l-footer__form {
  width: 45%;
}
