.l-flex-split svg {
  height: auto;
  width: 100%;
}

@include mq($bp--medium) {
  .l-split-alternate:nth-child(even) {
    .l-split-item__body {
      order: 1;
    }
  
    .l-split-item__img {
      order: 2;
    }
  }
  
  .l-split-alternate:nth-child(odd) {
    .l-split-item__body {
      order: 2;
    }
  
    .l-split-item__img {
      order: 1;
    }
  }
}

@include mq($bp--medium, max) {
  .l-split-item__body {
    order: 2;
  }

  .l-split-item__img {
    margin-bottom: var(--space--xl);
    order: 1;
  }
}