.l-split {}

.l-split-container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.l-split-item {
  width: 44%;
}

.l-split-item__body {

}

.l-split-item__img {

}

.l-split:nth-child(even) {
  .l-split-item__body {
    order: 1;
  }

  .l-split-item__img {
    order: 2;
  }
}

.l-split:nth-child(odd) {
  .l-split-item__body {
    order: 2;
  }

  .l-split-item__img {
    order: 1;
  }
}